<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= @sender.first_name %> Wants to Connect!</h1>
  <p>
    Hi <%= @recipient.first_name %>,
  </p>
  <p>
    <%= @sender.first_name %> wants to connect with you!
  </p>
  <p>
    Best,<br>
    The Team
  </p>
</body>
</html>
