  <h2> Organizations </h2>
<div class="titles user-card last-card">
  <% @users.each do |user| %>
    <% if user.role == 'Non_Profit' %>
      <div class=" non-profit-card">

        <div class="group">
          <h5>Organization Name</h5>
          <li><strong><%= user.organization_name %></strong></li>
        </div>
        <div class="group org-email">
          <h5>Company Email</h5>
          <li><strong><%= user.email %></strong></li>
        </div>
        <div class="group">
          <h5>Email</h5>
          <li><%= mail_to user.point_of_contact_email, "Contact", class: "btn" %></li>
        </div>
        <div class="group ">
          <h5>Linkedin Page</h5>
          <li><%= link_to "Linkedin", user.linkedin, class: "btn" %></li>
        </div>

      </div>
      
      <div class="line"></div>
    <% end %>
  <% end %>
</div>