  <h2> Organizations </h2>
  <% @users.each do |user| %>
    <% if user.role == "Non_Profit" %>
      <div class="profile-card">
        <li><%= user.organization_name %></li>
        <li><%= user.point_of_contact_email %></li>
        <li><%= user.areas_of_concern %></li>
        <li><%= mail_to "#{user.point_of_contact_email}", "Contact", subject: "#{current_user.first_name} Wants to Connect!", body: "Hello!\n\nI believe I can help your organization with its cybersecurity issues. Please contact me at #{current_user.email} so we can start working together!" %></li>
      </div>
    <% end %>
  <% end %>