<section class="outer-box">
  <div class="dashboard-main">
    <h1><%= @current_user_name %>'s Dashboard</h1>

    <!-- if statements figure out what user type is logged in and displays the opposite user type profile cards -->
    <% if current_user.role == "Admin" %>
      <%= render partial: "pages/admin_dashboard" %>

    <% elsif current_user.role == 'Volunteer' %>
        <%= render partial: "pages/volunteer_dashboard" %>
      
    <% elsif current_user.role == 'Non_Profit' %>
        <%= render partial: "pages/nonprofit_dashboard" %>
    <% end %>
  </div>
</section>
