<section class="main">
  <div class="welcome">
  <h1>The First and Last Stop to Help</h1>
  <p>The all in one solution connecting people and organizations to make the world a better place</p>
  </div>
  <div class="main-photo">
  <%= image_tag "placeholder.jpg", class: "photo" %>
  </section>
  <section class="connecting">
  <h3>Connecting volunteers and organizations together for the betterment of the world</h3>
  </section>
    <section class="who-what-why" id="www">
    <div class="cards">
      <h5>Who We Are</h5>
    </div>
    <div class="cards card-layer hidden">
    <h5>Who We Are</h5>
    <p> GuardianLink is an organization with a sole purpose of connecting those who want to help to those organizations who despretly need the help
    </div>
    <div class="cards">
      <h5>What We Do</h5>
    </div>
        <div class="cards card-layer hidden">
    <h5>Who We Are</h5>
    <p> GuardianLink is an organization with a sole purpose of connecting those who want to help to those organizations who despretly need the help
    </div>
    <div class="cards">
      <h5>Why We Do It</h5>
    </div>
        <div class="cards card-layer hidden">
    <h5>Who We Are</h5>
    <p> GuardianLink is an organization with a sole purpose of connecting those who want to help to those organizations who despretly need the help
    </div>

  </section>
  <section class="sign-up">
  </section>
  <section class="sponsors">
  
  </section>