<section class="main">
  <div class="welcome">
  <h1>GuardianLink <strong>Cybersecurity</strong> Solutions</h1>
  <p>The all in one solution for connecting cybersecurity professionals and organizations to make the world a better place</p>
  </div>
  <div class="main-photo">
  <%= image_tag "placeholder.jpg", class: "photo" %>
  </section>
  <section class="connecting">
  <h3>Connecting Cybersecurity <strong>volunteers</strong> and <strong>organizations</strong> 
  together for the betterment of the <strong>world</strong></h3>
  </section>
    <section class="who-what-why" id="www">
    <div class="cards">
      <h5>Who We Are</h5>
    </div>
    <div class="cards card-layer hidden1">
    <h5>Who We Are</h5>
    <p> GuardianLink is a group of people who want to help organizations who help people by using their
     skills to help protect them in the cyber realm</p>
    </div>
    <div class="cards">
      <h5>What We Do</h5>
    </div>
        <div class="cards card-layer hidden2">
    <h5>What We Are</h5>
    <p> GuardianLink's goal is to connect  not-for-profit organizations and cybersecurity volunteers together to help each other
    improve people's lives all over the globe</p>
    </div>
    <div class="cards">
      <h5>Why We Do It</h5>
    </div>
        <div class="cards card-layer hidden3">
    <h5>Why We Do It</h5>
    <p> We at Guardianlink believe in giving back to those who give.<br /><br /> That is why our service is free to those who need it.</p>

  </section>
  <section class="sign-up">
  </section>
  <section class="sponsors">
  
  </section>