.registration .registration-card {
  height: auto;
  width: 50%;
  margin: 3rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--main-blue-color);
  color: var(--main-bg-color);
  text-align: center;
  text-align: left;
}

.registration-card .new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password-page .registration-card {
  width: 70%;
}

.registration-card h1 {
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
}

.registration-card label {
  margin-top: 0.3rem;
  color: var(--main-red-color);
}
.new_user input {
  width: 200;
  margin-bottom: 0.5rem;
}
.volunteer-fields,
.common-fields,
.non-profit-fields {
  width: 200px;
}
.common-fields {
  margin-top: 2rem;
  width: 200px;
}

#user_areas_of_concern {
  position: relative;
  height: 125px;
  width: 400px;
  right: 50%;
}

.registration-card .div-bg-check {
  text-align: left;
  margin-top: 0.6rem;
}

.bgcheck {
  margin-left: 0.3rem;
}

.sign-up {
  width: 200px;
}

.field_with_errors {
  line-height: 1rem;
}
.edit_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-card .no-delete {
  text-align: center;
  font-size: 0.5rem;
}

.edit_user .actions {
  display: flex;

  justify-content: center;
}
.edit_user .width-200 .field,
.non-profit-fields,
.common-fields,
.non-profit-fields,
.volunteer-fields,
.admin-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit_user .non-profit-fields #user_areas_of_concern {
  position: relative;
}

.edit_user .button {
  margin: 0.5rem 0 0.5rem 0;
}

.edit-delete-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}

.width-200 {
  width: 200px;
}

.new_user .sign-up {
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_user p {
  font-size: 0.5rem;
}
